body{
    background: rgba(0, 255, 234, 0.884);
    color: black;

font-family: roboto;
font-size: x-large;
text-align: center 
}

img{
    width: 320px;
}

img:hover {
transform: scaleX(-1);
}